.u-section-1 .u-sheet-1 {
  min-height: 630px;
}

.u-section-1 .u-text-1 {
  margin: 27px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 400px;
  background-image: url("images/smartindustry.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 9px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 91px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -70px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 160px;
    position: relative;
  }

  .u-section-1 .u-image-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -147px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 237px;
  }

  .u-section-1 .u-image-1 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 151px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -47px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 23px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 94px;
  }

  .u-section-1 .u-image-1 {
    min-height: 239px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 550px;
}

.u-section-2 .u-text-1 {
  margin: 33px auto 0;
}

.u-section-2 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 38px auto 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-2 .u-btn-1 {
  margin: 20px auto;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-2 .u-video-1 {
    height: 304px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 76px;
  }

  .u-section-2 .u-video-1 {
    height: 191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 222px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 222px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 20px -19px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 222px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 183px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 183px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 140px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 387px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 244px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 349px;
}

.u-section-4 .u-table-1 {
  margin: 14px auto 38px 0;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-7bd8-4 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 174px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 174px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 174px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 143px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 143px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 110px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 387px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 244px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 410px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-text-1 {
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 20px 30px 0;
}

.u-section-6 .u-btn-1 {
  margin: 14px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 409px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  margin-top: 1px;
  margin-bottom: 0;
  height: 324px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 337px;
    background-position: 50% 50%;
  }

  .u-section-6 .u-image-1 {
    height: 267px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 258px;
  }

  .u-section-6 .u-image-1 {
    height: 205px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 387px;
  }

  .u-section-6 .u-image-1 {
    height: 308px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 244px;
  }

  .u-section-6 .u-image-1 {
    height: 194px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 222px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 324px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-7 .u-text-1 {
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 222px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 267px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 183px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 140px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 387px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 244px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 411px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-8 .u-text-1 {
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  margin: 20px 30px 0;
}

.u-section-8 .u-btn-1 {
  margin: 14px auto 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 409px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 324px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 337px;
    background-position: 50% 50%;
  }

  .u-section-8 .u-image-1 {
    height: 267px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 258px;
  }

  .u-section-8 .u-image-1 {
    height: 205px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 387px;
  }

  .u-section-8 .u-image-1 {
    height: 308px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 244px;
  }

  .u-section-8 .u-image-1 {
    height: 194px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 892px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 68px -80px 0 417px;
}

.u-section-9 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    width: 803px;
    margin-left: 317px;
  }

  .u-section-9 .u-text-2 {
    width: 803px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    width: 720px;
    margin-left: 207px;
  }

  .u-section-9 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 411px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-10 .u-text-1 {
  margin: 0 auto;
}

.u-section-10 .u-text-2 {
  margin: 20px 30px 0;
}

.u-section-10 .u-btn-1 {
  margin: 14px auto 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 409px;
}

.u-section-10 .u-container-layout-2 {
  padding: 0;
}

.u-section-10 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 324px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-10 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 337px;
    background-position: 50% 50%;
  }

  .u-section-10 .u-image-1 {
    height: 267px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 258px;
  }

  .u-section-10 .u-image-1 {
    height: 205px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 387px;
  }

  .u-section-10 .u-image-1 {
    height: 308px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 244px;
  }

  .u-section-10 .u-image-1 {
    height: 194px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 411px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-11 .u-text-1 {
  margin: 0 auto;
}

.u-section-11 .u-text-2 {
  margin: 20px 30px 0;
}

.u-section-11 .u-btn-1 {
  margin: 14px auto 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 409px;
}

.u-section-11 .u-container-layout-2 {
  padding: 0;
}

.u-section-11 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 324px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-11 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 337px;
    background-position: 50% 50%;
  }

  .u-section-11 .u-image-1 {
    height: 267px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 258px;
  }

  .u-section-11 .u-image-1 {
    height: 205px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 387px;
  }

  .u-section-11 .u-image-1 {
    height: 308px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 244px;
  }

  .u-section-11 .u-image-1 {
    height: 194px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 892px;
}

.u-section-12 .u-text-1 {
  font-weight: 700;
  margin: 68px -80px 0 417px;
}

.u-section-12 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    width: 803px;
    margin-left: 317px;
  }

  .u-section-12 .u-text-2 {
    width: 803px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-text-1 {
    width: 720px;
    margin-left: 207px;
  }

  .u-section-12 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-text-1 {
    width: 340px;
  }

  .u-section-12 .u-text-2 {
    width: 340px;
  }
}